// Mixins in here

.destination-button(@btn-color,@btn-width ) {
  border-radius: 1.5rem;
  padding: 15px;
  width: @btn-width;
  height: 50px;
  text-align: center;
  cursor: pointer;
  background-color: @btn-color;
  font-size: 1.8rem;
  color: white;
  vertical-align: center;
}
